<div id="calendar" data-proposal="<%= @proposals_data.to_json %>"></div>
<script>
    var calendarEl = document.getElementById('calendar');
    var hash_data = JSON.parse(calendarEl.getAttribute('data-proposal'));
    
    var formattedEvents = [];
    for (var key in hash_data) {
      if (hash_data.hasOwnProperty(key)) {
        var eventData = hash_data[key];
        formattedEvents.push({
          title: "" + eventData.title + " # " +  key,
          start: eventData.starts_at,
          end: eventData.ends_at,
          color: '#' + Math.floor(Math.random() * 16777215).toString(16)
        });
      }
    }
    
    var calendar = new FullCalendar.Calendar(calendarEl, {
      events: formattedEvents,
      locale: 'hu',
      initialView: 'dayGridMonth',
      eventClick: function(info) {

        console.log('Event clicked:', info.event.title);
      },
      headerToolbar: {
        left: 'prev,next',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek'
      }
    });
    calendar.render();
</script>
